<div class="container">

    <div class="jumbotron">
        <img src="/public/assets/img/hamburger-fast-food-french-fries-cheeseburger-vector-burger-fries-drinks.jpg">
        <h1 class="display-4">Eat Da Burger!</h1>
        <p>What burger would you like? If you dont see it just add it to the order menu</p>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">Burger Name:</label>
                    <input type="text" id="newburger" name="burger">
                    <button type="submit" class="btn btn-success" id="addburger">
                        <span><i class="fas fa-hamburger">Order Burger</i></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>



    <div class="row">
        <div class=" col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside">
                    <p>Burger Menu</p>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span>{{this.id}} -{{this.burger_name}}</span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><i class="fas fa-hamburger"></i>Order</button>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading" id="rightside">
                        <p>Burgers That Have Been Devoured</p>
                    </div>
                    <div class="panel-body">
                        <ul>
                            {{#each burgers}}
                            {{#if devoured}}
                            <span>{{this.id}} -{{this.burger_name}} </span>
                            <button type="button" class="devouredBurger btn btn-danger" id="doneBurger" data-id="{{this.id}}"
                                data-newDevoured="{{devour}}"><i class="fas fa-hamburger"></i>Done</button>
                            {{/if}}
                            {{/each}}
                        </ul>
                   </div>
                </div>
            </div>
        </div>
    </div>